@font-face {
  font-family: InterFaceCorp-Regular;
  src: url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Regular.eot);
  src: url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Regular.woff)
      format("woff"),
    url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Regular.ttf)
      format("truetype"),
    url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Regular.svg#InterFaceCorp-Regular)
      format("svg");
}
@font-face {
  font-family: InterFaceCorp-Black;
  src: url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Black.eot);
  src: url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Black.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Black.woff)
      format("woff"),
    url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Black.ttf)
      format("truetype"),
    url(https://cdn.gmgamingsystems.com/Global/fonts/interface/InterFaceCorp-Black.svg#InterFaceCorp-Black)
      format("svg");
}
